@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  background-image: url(./../../assets/img/grass-bg.png);
  background-repeat: repeat;
  font-family: 'VT323', monospace;
}

#char {
  position: relative;
  width: 67px;
  height: 80px;
  left: 540px;
  top: 270px;
}

#enemy {
  position: relative;
  left: 500px;
  top: 400px;
  width: 76px;
  height: 120px;
}

#bottom {
  position: relative;
  left: 475px;
  top: 570px;
  width: 56px;
  height: 60px;
  animation: point 3s ease-in-out infinite;
  cursor: pointer;
  opacity: 0.5;
}

.container {
  /* position: absolute; */
  display: grid;
  /* width: 1500px; */
  grid-template-columns: repeat(3);
  /* left: 50%;
  top: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%); */
  place-items: center;
  /* background-color: aliceblue; */
  width: 80%;
  margin: auto;
}

.maps {
  box-sizing: border-box;
  grid-column: 1 / 2;
  grid-row: 1;
  width: 640px;
  height: 640px;
}

#text {
  font-family: 'VT323', monospace;
  box-sizing: border-box;
  font-size: 20px;
  color: rgb(93, 56, 11);
  grid-column: 3;
  grid-row: 1;
  padding: 25px;
  background-image: url(./../../assets/img/menu-bg.png);
  display: flex;
  flex-flow: column;
  width: 350px;
  height: 100%;
}

/* #island {
  box-sizing: border-box;
} */

#nav, #story {
  box-sizing: border-box;
  display: block;
  margin: auto;
  padding: 1rem;
}

/* #top-left {
  border: 5px solid rgb(255, 255, 255);
  display: block;
  z-index: 2;
} */

/* area {
  border: 5px solid rgb(255, 255, 255);
  z-index: 2;
} */

.hidden {
  display: none;
}

div {
  display: flex;
  justify-content: flex-end;
}

@font-face {
  font-family: Ancient;

  src: url(./../../assets/fonts/AncientModernTales-a7Po.ttf);
}

.header {
  font-family: Ancient;
  font-size:100px;
  color:rgb(238, 224, 164);
}

.sidebarhead {
  font-family: Ancient;
  font-size:35px;
  color:rgb(41, 31, 9);
  text-align: center;
}

.move {
  position: relative;
  animation-name: move;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.secondMove {
  position: relative;
  animation-name: secondMove;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

/* .move-back {
  position: relative;
  animation-duration: 4s;
  animation-fill-mode: backwards;
  animation: move 10s steps(10) infinite alternate; 
} */

@keyframes move {
  100%   {
    transform: translateY(300px);
  }
}

@keyframes secondMove {
  0% {
    top: 50px;
    left: 550px;
  }

  100%   {
    transform: translateY(350px);
  }
}

@keyframes point {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}

/* @keyframes char {  */

/* 0%   {left: 0px; top: 0px;} */

/* 25%  {left: 200px; top: 0px;} // frame2 */

/* 50%  {left: 200px; top: 200px;}*/

/* 75%  {left: 0px; top: 200px;} */

/* 100% {left: 0px; top: 0px;}  */

/* } */

.btn, .btn-primary {
  font-family: 'VT323', monospace;
  font-size: 22px;
  color: rgb(93, 56, 11);
  background: rgb(187,150,60);
  background: linear-gradient(0deg, rgba(187,150,60,1) 0%, rgba(129,225,226,1) 100%);
  padding: 5px;
  border: 2px solid rgb(156, 112, 52);
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}