@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  background-image: url(./../../assets/img/grass-bg.png);
  background-repeat: repeat;
  font-family: 'VT323', monospace;
}



#char {
  position: relative;
  width: 67px;
  height: 80px;
  left: 540px;
  top: 270px;
  z-index: 2;
}

#enemy {
  position: relative;
  left: 500px;
  top: 400px;
  width: 76px;
  height: 120px;
  z-index: 2;
}

#bottom-arrow {
  position: relative;
  left: 475px;
  top: 570px;
  width: 56px;
  height: 60px;
  animation: point 3s ease-in-out infinite;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}

#right-arrow {
  position: relative;
  left: 600px;
  top: 450px;
  width: 56px;
  height: 60px;
  animation: point-right 3s ease-in-out infinite;
  cursor: pointer;
  opacity: .7;
  z-index: 1;
}

#codex {
  position: relative;
  left: 496px;
  top: 255px;
  width: 32px;
  height: 32px;
  animation: point 3s ease-in-out infinite;
  cursor: pointer;
  z-index: 1;
}

.container {
  display: grid;
  grid-template-columns: repeat(3);
  place-items: center; 
  width: 80%;
  margin: auto;
}

.maps {
  box-sizing: border-box;
  grid-column: 1 / 2;
  grid-row: 1;
  width: 640px;
  height: 640px;
}

#text {
  font-family: 'VT323', monospace;
  box-sizing: border-box;
  font-size: 20px;
  color: rgb(93, 56, 11);
  grid-column: 3;
  grid-row: 1;
  padding: 25px;
  background-image: url(./../../assets/img/menu-bg.png);
  display: flex;
  flex-flow: column;
  width: 350px;
  height: 100%; 
}

#sidebar-heading {
  display: flex;
  flex-flow: column;
}

#battleStats {
  justify-content: center;
  padding: 25px;
}

#controls {
  position: absolute;
  top: 650px;
  left: 40%;
  margin: auto;
  transform: translateX(-40%);
}

#stats {
  position: absolute;
  top: 150px;
  left: 40%;
  transform: translateX(-20%);
  font-family: 'VT323', monospace;
  font-size: 20px;
}

#nav, #story {
  box-sizing: border-box;
  display: block;
  margin: auto;
  padding: 1rem;
}

.hidden {
  display: none;
}

div {
  display: flex;
  justify-content: flex-end;
}

#text {
  justify-content: flex-start;
}

@font-face {
  font-family: Ancient;
  src: url(./../../assets/fonts/AncientModernTales-a7Po.ttf);
}

.header {
  font-family: Ancient;
  font-size:100px;
  color:rgb(238, 224, 164);
}

.sidebarhead {
  font-family: Ancient;
  font-size:35px;
  color:rgb(41, 31, 9);
  text-align: center;
}

.move {
  position: relative;
  animation-name: move;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.secondMove {
  position: relative;
  animation-name: secondMove;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.thirdMove {
  position: relative;
  animation: thirdMove 3s ease-in 1;
  animation-fill-mode: forwards;
}

.fourthMove {
  position: relative;
  animation-name: fourthMove;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.shake {
  animation: shake 2.5s ease-in-out 3;
}

.char-attack {
  animation: char-attack 0.5s linear 1;
  animation-fill-mode: forwards;
}

.enemy-attack {
  animation: enemy-attack  0.5s linear 1;
  animation-fill-mode: forwards;
}

/* .move-back {
  position: relative;
  animation-duration: 4s;
  animation-fill-mode: backwards;
  animation: move 10s steps(10) infinite alternate; 
} */

@keyframes move {
  50%   { transform: translate(-20px,150px); }   
  100%   { transform: translateY(300px); }   
  
}

@keyframes secondMove {
  0% { top: 50px;
    left: 550px; }
  100%   { transform: translate(-50px, 350px); }   
  
}

@keyframes thirdMove {

  100%   { transform: translateX(250px); }   
  
}

@keyframes fourthMove {
  0% {    top: 370px;
    transform: translateX(0);
          left: 160px;}
  50% { transform: translate(460px, 0); }  
  /* 60%   { transform: translateX(200px); } */
  100% { transform: translate(600px, -150px); }   
  
}

@keyframes point {
	0% {

		transform: translatey(0px);
	}
	50% {

		transform: translatey(-20px);
	}
	100% {

		transform: translatey(0px);
	}
}

@keyframes point-right {
	0% {

		transform: translatex(0px);
	}
	50% {

		transform: translatex(-20px);
	}
	100% {

		transform: translatex(0px);
	}
}

@keyframes char-attack {
	0% {
    top: 270px;
    left: 340px;

	}
	50% {
		transform: translatex(150px);
	}
	100% {
    top: 270px;
    left: 340px;
	}
}

@keyframes enemy-attack {
	0% {

		transform: translatex(0px);
	}
	50% {
		transform: translatex(-150px);
	}
	100% {

		transform: translatex(0px);
	}
}

/* @keyframes char {  */
  /* 0%   {left: 0px; top: 0px;} */
  /* 25%  {left: 200px; top: 0px;} // frame2 */
  /* 50%  {left: 200px; top: 200px;}*/
  /* 75%  {left: 0px; top: 200px;} */
  /* 100% {left: 0px; top: 0px;}  */
/* } */

.btn, .btn-primary {
  font-family: 'VT323', monospace;
  font-size: 22px;
  color: rgb(93, 56, 11);
  background: rgb(187,150,60);
  background: linear-gradient(0deg, rgba(187,150,60,1) 0%, rgba(129,225,226,1) 100%);
  padding: 5px;
  border: 2px solid rgb(156, 112, 52);
}


/* CSS */
.button-75 {
  align-items: center;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: 0;
  margin: 10px;
  width: 150px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: 'VT323', monospace;
  font-size: 24px;
  font-weight: 700;
  height: 54px;
  justify-content: center;
  letter-spacing: .4px;
  line-height: 1;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-75:active {
  outline: 0;
}

.button-75:hover {
  outline: 0;
}

.button-75 span {
  transition: all 200ms;
}

.button-75:hover span {
  transform: scale(.9);
  opacity: .75;
}

@media screen and (max-width: 991px) {
  .button-75 {
    font-size: 15px;
    height: 50px;
  }

  .button-75 span {
    line-height: 50px;
  }
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
}
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
  border-radius: 15px;
  background-color: red;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}